* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vh;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    height: 7%;
    font-size: 2rem;

}
nav > * {
  margin: 0 20px;
}
#nav-ul {
    display: none;
    flex-direction: column;
    margin: 0;
}
nav li {
    list-style-type: none;
    margin-right: 30px;
    margin-bottom: 10px;
}
nav a {
  font-family: 'LatoWebBold';
  font-style: normal;
    text-decoration: none;
    font-size: 3rem;
    color: var(--menu);

}
nav a:hover {
    color: var(--green);
}
.hamburger {
  display: block;
}
.nav-button {

  font-size: 1.2rem;

}
.form {
  display: flex;
  align-items: center;
  align-items: center;
}
#search-form {
  min-width: 160px;
}
.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  font-size: 1.5rem;
  border: black solid 2px;
}
.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}
.search-icon {
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
  display: block;
  object-fit: cover;

}
.search-icon:hover {
  fill: var(--menu);
}
.banner {

  height: 30vh;
  width: 100%;
  overflow: hidden;
  background-image: url(https://placekeanu.com/1400/250);
  background-size: cover;
  background-repeat: no-repeat;
}
#banner-box {
  display: flex;
  clip-path: polygon(0 0, 74% 0, 100% 100%, 0 100%);
  background-color: var(--main);
  z-index: 1;
  width: 50%;
  min-width: 330px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#banner-text-box {

  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
#banner-text-box h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  font-size: 4em;
}
#banner-text-box p{
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 2em;
  text-align: center;

}


.big-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.container {
    display: grid;
    width: 100%;
    grid-gap: 10px;
}
.menu {
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    padding: 30px;
    background-color: var(--second);
}
.menu img {
    margin-right: 20px;
}
.img-div {
  height: 100%;
  display: flex;
  align-items: center;
}
.container {
  margin: 30px 0;
}
section {
    padding: 5% 8%;
    font-family: 'LatoWebRegular';
    font-style: normal;
    font-size: 2rem;
    line-height: 1.4em;
}
.menu-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.menu-header h2 {
  font-family: 'LatoWebHeavy';
  font-style: normal;
  font-size: 2em;
}
.menu-logo {
  max-width: 150px;
  max-height: 150px;
}
.menu-list {
  display: grid;
  grid-gap: 15px;
  grid-auto-rows:min-content;
  margin-bottom: 20px;
}
#sodexo-menu li, #fazer-menu li{
  list-style-type: none;
  font-family: 'LatoWebRegular';
  font-style: normal;
  font-size: 1.3em;


}
#random-food, #random-food1, .random-p {
  height: 5px;
  margin-top: 5px;


}
.random-p {
  margin-bottom: 25px;
}
.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.button-container button {
  height: 5vh;
  font-family: 'LatoWebRegular';
  font-style: normal;

}
.loc-icon {
  width: 30px;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
}
.distance {
  font-family: 'LatoWebRegular';
  font-style: normal;
  font-size: 1.2rem;
}
main {
  margin: 10px;
}
button {
  background-color: var(--button);
  color: white;
  font-size: 1.5em;
}
